{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="page-header">
    <h1>Delete Berry?</h1>
    <img src="{% static 'images/icons8-berries-96.png' %}" alt="The Berry Picker Berries" />
  </div>

  <h2>Are you sure you want to delete {{ berry.variety}} {{ berry.name }}?</h2>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <a href="{% url 'berry-detail' berry.id %}" class="btn secondary">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
{% endblock %}
