{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="page-header">
    <h1>Delete Farm?</h1>
    <img src="{% static 'images/icons8-berries-96.png' %}" alt="The Berry Picker Berries" />
  </div>
  <h2>Are you sure you want to delete {{ object.name }}?</h2>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <a href="{% url 'farm-detail' farm.id %}" class="btn secondary">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
{% endblock %}
