{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/farms/farm-index.css' %}" />
{% endblock %}
{% block content %}
  <section class="page-header">
    <h1>All Berry Farms</h1>
    {% comment %} <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
    <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
    <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
    <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" /> {% endcomment %}
  </section>

  <section class="card-container">
    {% for farm in farm_list %}
      <div class="card" style="border-color: green">
        <div class="card-bg" style="background-color: green"></div>
        <a href="{% url 'farm-detail' farm.id %}">
          <div class="card-content">
            <h2>{{ farm.name }} <br/> in {{ farm.city }}, {{ farm.state }} </h2>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
