{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/berries/berry-detail.css' %}" />
{% endblock %}

{% block content %}
  <section class="berry-container">
    <div class="berry-img">
      <img src="{% static 'images/' %}{{ berry.name|lower }}.png" alt="A {{ berry.name|lower }}" />
    </div>
    <div class="berry-details">
      <h2 class="card-title">{{ berry.variety }} {{ berry.get_name_display }}</h2>
      <p>{{ berry.description }}</p>
      <div class="berry-actions">
        <a href="{% url 'berry-update' berry.id %}" class="btn warn">edit</a>
        <a href="{% url 'berry-delete' berry.id %}" class="btn danger">delete</a>
      </div>
    </div>
  </section>

  <div class="pickings-farm-container">
    <section class="pickings">
      <div class="subsection-title">
        <h2>Picking Excursions</h2>
        {% comment %} <img src="{% static 'images/cat-cone.svg' %}" alt="An ice cream cone cat" />
        <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
        <img src="{% static 'images/kitty-kabob.svg' %}" alt="A kabob of kittens" /> {% endcomment %}
      </div>

      <div class="new-picking">
        <h3>I went picking!</h3>
        <form action="{% url 'add-picking' berry.id %}" method="post" class="subsection-content" autocomplete="off">
          {% csrf_token %}
          {{ picking_form.as_p }}
          <button type="submit" class="btn submit">Add Picking</button>
        </form>
      </div>

      <h3>Past Picking Excursions</h3>
      {% if berry.picking_set.all.count %}
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Haul</th>
            </tr>
          </thead>
          <tbody>
            {% for picking in berry.picking_set.all %}
              <tr>
                <td>{{ picking.date }}</td>
                <td>{{ picking.haul }}lbs</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="subsection-content">
          <p>⚠️ You haven't picked {{ berry.variety }} {{ berry.get_name_display }} yet!</p>
        </div>
      {% endif %}
    </section>

    <section class="farms">
      <div class="subsection-title">
        <h2>Farms</h2>
        {% comment %} <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
        <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
        <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" /> {% endcomment %}
      </div>
      <h3>Farms with {{ berry.variety }} {{ berry.get_name_display }} planted</h3>
      <div class="subsection-content">
        {% if berry.farms.count %}
          {% for farm in berry.farms.all %}
            <div class="farm-container">
              <div class="color-block" style="background-color: green;"></div>
              <a href="{% url 'farm-detail' farm.id %}">
                <p>
                  {{ farm.name }} <br /> in {{ farm.city }}, {{ farm.state }}
                </p>
              </a>
              <form action="{% url 'remove-farm' berry.id farm.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove Farm</button>
              </form>
            </div>
          {% endfor %}
        {% else %}
            <p class="no-farms">
              {{ berry.variety }} {{ berry.get_name_display }} isn't available at any farms!
            </p>
        {% endif %}
      </div>

      <h3>Available Farms</h3>
      <div class="subsection-content">
        {% if farms.count %}
        {% for farm in farms %}
          <div class="farm-container">
            <div class="color-block" style="background-color: green"></div>
            <p>
              {{ farm.name }} <br /> in {{ farm.city }}, {{ farm.state }}
            </p>

            <form action="{% url 'associate-farm' berry.id farm.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Farm</button>
            </form>
          </div>
        {% endfor %}
        {% else %}
          <p class="all-farms">All listed farms have {{ berry.variety }} {{ berry.get_name_display }} available!</p>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}
