{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/berries/berry-detail.css' %}" />
{% endblock %}

{% block content %}
  <section class="">
    <div class="">
        <img src="{% static 'images/icons8-strawberry-96.png' %}" alt="A strawberry" />
    </div>
    <div class="">
        <h2 class="card-title">{{ berry.variety }} {{ berry.name|lower|capfirst }}</h2>
        <p>
          {{ berry.description }}
        </p>
        <div class="">
          <a href="{% url 'berry-update' berry.id %}" class="btn warn">edit</a>
          <a href="{% url 'berry-delete' berry.id %}" class="btn danger">delete</a>
        </div>
    </div>
  </section>
{% endblock %}
