{% extends 'base.html' %}
{% block content %}
<h1>About the Berry Picker</h1>
<hr />
<div class="page-content">
    <p>I like long romantic walks down the U-Pick rows. My first Django project includes:</p>
    <ul>
        <li>CRUD on selected berry varieties</li>
        <li>CRUD on berry farms</li>
        <li>CR on berry-picking excursions</li>
        <li>Authentication and Authorization</li>
    </ul>
    <p>Extra features beyond the scope of the assignment:</p>
    <ul>
        <li>Adding in the Farm model with many-to-many relationships and full CRUD</li>
        <li>Dynamically choosing shades of green based on the properties of each Farm class instance - I wrote a custom template function</li>
        <li>Associating the BERRY_CHOICES within the Berry model, for auto-selecting a matching image </li>
    </ul>
    <br>
    <br>
    <p>Coded by <a href="https://github.com/radford-coding/django-crud-app-lab/tree/main/berries">Matt Radford</a></p>
</div>
{% endblock %}